.dg_menu-text {
  color: #000000;
  display: block;
  padding-top: 40px;
}

.dg_menu-trigger:hover > .dg_menu-wrapper .dg_menu-text {
  color: #ffffff;
}

.dg_menu-trigger {
  background: #feb30c;
  border: none;
  cursor: pointer;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  min-height: 90px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 90px;
  z-index: 300;
}
.dg_menu-trigger:hover {
  background: #1076bc;
}

.dg_menu-trigger:hover > .dg_menu-wrapper .dg_hamburger-menu {
  background: #ffffff;
}

.dg_menu-trigger:hover > .dg_menu-wrapper .dg_hamburger-menu:after {
  background: #ffffff;
}

.dg_menu-trigger:hover > .dg_menu-wrapper .dg_hamburger-menu:before {
  background: #ffffff;
}

.dg_menu-trigger:disabled,
.disabled {
  background: #ffd986;
  color: #7f5906;
}

.dg_menu-trigger:disabled,
.disabled > .dg_menu-wrapper .dg_hamburger-menu {
  background: #7f5906;
}

.dg_menu-trigger:disabled,
.disabled > .dg_menu-wrapper .dg_hamburger-menu:before {
  background: #7f5906;
}

.dg_menu-trigger:disabled,
.disabled > .dg_menu-wrapper .dg_hamburger-menu:after {
  background: #7f5906;
}

.dg_menu-wrapper {
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
}

.dg_hamburger-menu,
.dg_hamburger-menu:after,
.dg_hamburger-menu:before {
  width: 100%;
  height: 5px;
}

.menu-active .dg_hamburger-menu {
  background: rgba(255, 255, 255, 0);
}

.menu-active .dg_menu-trigger:hover > .dg_menu-wrapper .dg_hamburger-menu {
  background: rgba(255, 255, 255, 0);
}

.dg_hamburger-menu {
  background: #000000;
  position: relative;
  transform: translateY(25px);
}

.dg_hamburger-menu:before {
  background: #000000;
  bottom: 10px;
  content: "";
  left: 0;
  position: absolute;
}

.dg_hamburger-menu:after {
  background: #000000;
  content: "";
  left: 0;
  position: absolute;
  top: 10px;
}

.menu-active .dg_hamburger-menu:after {
  top: 0;
  transform: rotate(45deg);
}

.menu-active .dg_hamburger-menu:before {
  bottom: 0;
  transform: rotate(-45deg);
}

/* RESPONSIVE UTILITIES */

@media (max-width: 396px) {
  .menu-trigger {
    width: 100%;
    max-width: 60px !important;
    min-height: 80px !important;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .menu-trigger {
    width: 100%;
    max-width: 75px;
    min-height: 80px !important;
    height: 100%;
  }
}
