.menu-text {
  display: block;
  padding-top: 40px;
}

.menu-trigger {
  background: #feb30c;
  border: none;
  color: #000000;
  cursor: pointer;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  min-height: 90px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 90px;
}
.menu-trigger:hover {
  background: #1076bc;
  color: #ffffff;
}

.menu-trigger:hover > .menu-wrapper .hamburger-menu {
  background: #ffffff;
}

.menu-trigger:hover > .menu-wrapper .hamburger-menu:after {
  background: #ffffff;
}

.menu-trigger:hover > .menu-wrapper .hamburger-menu:before {
  background: #ffffff;
}

.menu-trigger:disabled,
.disabled {
  background: #ffd986;
  color: #7f5906;
}

.menu-trigger:disabled,
.disabled > .menu-wrapper .hamburger-menu {
  background: #7f5906;
}

.menu-trigger:disabled,
.disabled > .menu-wrapper .hamburger-menu:before {
  background: #7f5906;
}

.menu-trigger:disabled,
.disabled > .menu-wrapper .hamburger-menu:after {
  background: #7f5906;
}

.menu-wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  cursor: pointer;
  display: block;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 100%;
  height: 5px;
}

.hamburger-menu {
  position: relative;
  transform: translateY(25px);
  background: #000000;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #000000;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: #000000;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

/* OTHER STYLES */
/* Menu */
.slide-menu-seal {
  border: none;
  background-color: transparent;
  position: relative;
  text-align: center;
  cursor: pointer;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.menu-active .nav-shade {
  opacity: 0.9;
  pointer-events: auto;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav-shade {
  opacity: 0;
  background: #000000;
  -webkit-transition: opacity 0.3s, visibility 0s 0.6s;
  -o-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
  /*position: fixed;*/
  position: absolute;
  z-index: 299;
  width: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  visibility: hidden;
}

nav#slide-menu {
  visibility: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  border-top: 10px solid #c51110;
  display: block;
  float: left;
  width: 100%;
  max-width: 400px;
  height: 100%;
  text-transform: uppercase;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: #353535;
}
nav#slide-menu .wrap {
  height: 100%;
  overflow-y: auto;
  max-width: 400px;
}
nav#slide-menu ul {
  display: block;
  margin: 0 0 0 0;
  padding: 0px;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu ul li {
  padding: 10px 0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
nav#slide-menu ul li a {
  display: flex;
  color: #f7f7f7;
  background-color: #2d2d2d;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #feb30c;
  height: 80px;
  padding-right: 10px;
  padding-left: 15px;
  padding-top: 27px;
  text-transform: uppercase;
}
nav#slide-menu ul li a:hover {
  color: black !important;
  text-decoration: none;
  background-color: #feb30c;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav#slide-menu ul li a:hover > .i-float-right {
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav#slide-menu ul li:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}
nav#slide-menu ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

nav#slide-menu.menu-active {
  left: 0px;
  visibility: visible !important;
  border-top: 10px solid #c51110;
}

nav#slide-menu.menu-active ul {
  left: 0px;
  opacity: 1;
}

.nav-icon-left {
  font-size: 23px;
  padding-right: 10px;
}

#content.menu-active {
  left: 400px !important;
  border-radius: 0px 0 0 0px;
  overflow: hidden;
}

#content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
