.menu-text {
  display: block;
  padding-top: 40px;
}

.menu-trigger {
  background: #feb30c;
  border: none;
  color: #000000;
  cursor: pointer;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 90px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: ll 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 90px;
}
.menu-trigger:hover {
  background: #1076bc;
  color: #ffffff;
}

.menu-trigger:disabled,
.disabled {
  background: #ffd986;
  color: #7f5906;
}
